extends layout

block content
    if(title)
        h3= (title)
    else
        h3 Categories
    .titleButton
        a(href='/admin/category/create')
            button.btn.btn-success(type='button') Nouvelle Categorie

    hr

    .flex-container
        each cat in cats
            a(href='/admin/category/'+cat._id)
                .product
                    p= cat.name
