extends layout

block content
        h5 Welcome to the admin page
        hr
        p
            | Click on the section you wish to view.
        p
            | Produit permet de creer, modifier ou suprimer des produits
        p
           | Categories permet de gerer les categories et sous categories
        p
            | Commandes permet de gerer les commandes(observer commande, modifier l'etat)
        p
            | Chat afin de discuter avec les clients (Innexistant)
