extends clientLayout

block content
    h1 Resultat de la recherche ' #{search} '
    .container-fluid
        .row
            each product in products
                a(href='/product/'+product._id)
                    .col-sm-2
                        p= product.name
                        img(src=product.imgPath style='width:100%; height:100%')
                        p= product.price + "Fcfa"
                button#addToCart.btn(type='button')
                    i.fa.fa-cart-plus
