extends clientLayout

block content

    #main
        .signin(style='text-align:center')


            h4 Vous n'avez pas encore de compte ?
            h4
                a(href='/signup') Creer un compte

            #fb-root

            hr

            h4
                b Ou
                
            h3 Se Connecter
            form(action = "/signin" method = "POST")
                .row
                    .col-2
                    .col-8
                        input.form-control(name = "email" type = "email" required placeholder = "Email Address")
                    .col-2
                .row
                    .col-2
                    .col-8
                        input.form-control(name = "password" type = "password" required placeholder = "Password" minlength=7)
                    .col-2
                br
                button(type = "Submit") Sign me in!
                br
                br

                h4
                    p
                        b Ou
                    //a.btn.btn-primary(href='/auth/facebook') Se connecter avec Facebook
                    div(class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width="")

                hr



    script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0&appId=901129653708849&autoLogAppEvents=1', nonce='4NoNSMF9')
