.container-fluid.mainNav
    nav.navbar.navbar-expand-md.navbar-light.bg-light
        .shoppingCart#shoppingCart
            a.nav-link(href='/cart')
                i.fa.fa-shopping-cart.fa-3x
            #shopCartNumber
                p 0
        a.navbar-brand(href='/')
            img.logo(src='/images/kiw.jpeg')
            |    Ogooue Delivery
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            form(action='/search' method = 'POST')
                .input-group.mb-3
                    input.form-control(name='search', type='text', placeholder="lait")
                    .input-group-append
                        button.btn.btn-outline-secondary(type='submit')
                            i.fa.fa-search
            a.nav-link(href='/profile')
                i.fa.fa-user.fa-3x
