.container-fluid.mainNav
    .bar
        .title
            a.navbar-brand(href='/')
                img.logo(src='/images/kiw.jpeg')
                |    Ogooue Delivery
        .rayon
            button#rayon.btn-primary(type='button') Rayons

        .shoppingCart
            a(href='/cart')
                button.btn(type='button')
                    i.fa.fa-shopping-cart.fa-3x
                    #shopCartNumber
                        p 0

        .profile
            a(href='/profile')
                button.btn(type='button')
                    i.fa.fa-user.fa-3x


    .search-container
        form(action='/search' method='POST')
            input(type='text', placeholder='Recherche..', name='search')
            button(type='submit')
                i.fa.fa-search


.scrollmenu#catBar
