.container-fluid.mainNav
    .row
        .col-sm-3
            .logo
                h1 Glovo241
        .col-sm-7
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-secondary(type='button')
                    i.fa.fa-search
        .col-sm-1
            button.btn(type='button')
                i.fa.fa-shopping-cart
        .col-sm-1
            button.btn(type='button')
                i.fa.fa-user


                
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Rayon
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        .dropdown-divider
                        a.dropdown-item(href='#') Something else here
