extends layout

block content
    include partials/nav
    br
    h3 Admin page
    hr
    br
    include partials/sidenav
    .main
        h4= category.name
        ul Sous-Categories:
            each subcat in category.subCat
                li= subcat
