extends clientLayout

block content
    h1 Resultat de la recherche ' #{search} '
    .container-fluid
        .row
            each product in products
                a(href='/product/'+product._id)
                    .product
                        p= product.name
                        img(src=product.imgPath)
                        p= product.price + "Fcfa"
