extends layout

block content
    include partials/nav
    br
    h3 Admin page
    hr
    br
    include partials/sidenav
    .main
        h3= product.name
        img(src=product.imgPath)
        p= product.price + "FcFa"
        p= product.description
