extends layout

block content
    doctype html
    html(lang='en')
        include partials/headers
        body
            include partials/nav
            h3= product.name
            img(src=product.imgPath)
            p= product.price + "FcFa"
            p= product.description
