extends clientLayout

block content

    .main
        .signin
            h3 Se Connecter
            form(action = "/signin" method = "POST")
                input(name = "email" type = "email" required placeholder = "Email Address")
                br
                input(name = "password" type = "password" required placeholder = "Password" minlength=7)
                br
                br
                button(type = "Submit") Sign me in!
                hr
        br

    h4 Vous n'avez pas encore de compte ?
        a(href='/signup') Creer un compte

    script.
