extends clientLayout

block content
    if(message)
    h4 #{message}
    .main
        .signin
            h3 Se Connecter
            form(action = "/signin" method = "POST")
                input(name = "email" type = "email" required placeholder = "Email Address")
                input(name = "password" type = "password" required placeholder = "Password")
                br
                br
                button(type = "Submit") Sign me in!
                hr
        br

    h4 Vous n'avez pas encore de compte ?
        a(href='/signup') Creer un compte
