body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    z-index: -1;
}
.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: baseline;
    z-index: 9999;

}

.search-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.shoppingCart{
    position:relative;
    color: white
}
#shopCartNumber{
    position:absolute;
    font-size: 20px;
    font-weight: bold;
    top:12px;
    left:35px;
    color:white
}
.maxTotal{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.message{
    border-radius: 10px;
    background-color: LightGrey;
    padding: 10px;
    margin:5px
}
.msg-success{
    border-radius: 10px;
    background-color: LightGreen;
    padding: 10px;
    margin:5px
}
.msg-error{
    border-radius: 10px;
    background-color: LightCoral;
    padding: 10px;
    margin:5px
}
.border{
    width:100%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5px;
    padding: 10px;
    border:dotted black;
}
.quantity{
    margin-left: auto;
    position:relative;
}
.total{
    margin-left: auto;
}
.sign{
    margin-left: auto;
    width:40px;
    text-align: center;
}
.order{
    margin: 15px
}
.cartProduct{
    max-width:25%
}
.cartProduct img{
    width:50%;
    height:10%
}

a:link {
  color: DodgerBlue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

img{

    max-width: inherit;
    max-height: 250px;

    }


    /* The sidebar menu */
.sidenav {
  max-width: 200px;
  position: fixed;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
    position: relative;
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.index{
    background-color: WhiteSmoke;
}
.mainNav{
    position:sticky;
    top:0;
    align-items: baseline;
    background-color: DodgerBlue;
    padding: 10px;
    z-index: 1;
}
.logo{
    width: auto;
    height: auto;
    max-height: 150px;
    max-width: 150px;
}
.selection{
    padding:20px;
    color: DodgerBlue;
    margin-top: 10px;
    margin-bottom: 50px;
    font: 40px "Apple Chancery";
    border-radius: 40px;
    font-family: cursive;
    /* background-color: white; */
    border: solid orange;
    text-align: center;
}
.selection button{
    align-items: center;
    padding-bottom: 10px;
    border-radius: 50px;
    text-align: center;
    margin-left: 20px;
    border: solid black;
    background-color: white;
    color:black;
}




.product{
    background-color: #f1f1f1;
    border-radius: 50px;
    border: solid black;
    width:300px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 15px;


}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: LightGrey;
    width:150px;
    height:150px;
    font-size: 14px;
    margin:10px;
}

.title{
    font-size: 50px;

}

.titleButton{
    position:absolute;
    right:10px;
    top:0px
}

.productContainer{
    padding:20px;

}
.productImg{
    padding:40px;
    border: solid black;
    max-width:300px;
    max-height:400px;
}

.addToCart{
    margin-top:100px;
    max-height: 120px;
    border: 1px solid orange;

}
.container{
    position:relative;

}
.container-fluid{
    /* margin:auto */
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position:sticky;
  top: 140px;
  text-align: center;
  z-index: 1;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
/* .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; } */
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media only screen and (max-width:300px) {
  /* For mobile phones: */

#namae {font-size:15px}
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
